<!DOCTYPE html>

<body>
    <button class="btn filter-btn" type="button" data-bs-toggle="collapse" data-bs-target="#defaultFilter"
        aria-expanded="false" aria-controls="defaultFilter">
        Filter table by <i class="fa-solid fa-caret-down fa-beat-fade"></i>
    </button>
    <div class="collapse filter-list" id="defaultFilter">
        <div class="card card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item cursor-default">Lowest price</li>
                <li class="list-group-item cursor-default">Highest price</li>
                <li class="list-group-item cursor-default">Fast deliveries</li>
                <li class="list-group-item cursor-default">Fastest Company</li>
                <li class="list-group-item cursor-default">Village delivery</li>
            </ul>
        </div>
    </div>
</body>

</html>
